################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TutorialDB4O_Console/v16/Server/sqlite3
